<div class="edit-header">
  Editing Book
</div>

<!------------------------------------------------------------------------->

<% if @book.errors.any? %>
  <div class="error-box">
    <p>
    <% if @book.errors.count == 1 %>
      <%= @book.errors.count %> error prohibited this book from being saved:
    <% else %>
      <%= @book.errors.count %> errors prohibited this book from being saved:
    <% end %>
    </p>
    <ul class="error-box-list">
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!---------------------------------------------------------------------------->

<div class="edit">

  <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

    <div class="edit-title">Title</div>
    <%= f.text_field :title, size: "15x10" %>

    <div class="edit-body">Body</div>
    <%= f.text_area :body %>

    <div class="edit-button">
      <%= f.submit 'Update Book' %>
    </div>

  <% end %>

  <span>
  <%= link_to "Show", book_path(@book.id) %>
  |
  <%= link_to "Back", '/books' %>
  </span>

</div>