<div class="index-header">
  Books
</div>
<!----------------------------------------------------------------------->

<div class="list-header">
  <span>Title</span>
  <span>Body</span>
</div>

<table class="list">
  <% @books.each do |book| %>
    <tr align="left">
      <th><%= book.title %></th>
      <th><%= book.body %></th>
      <th><%= link_to "Show", book_path(book.id) %></th>
      <th><%= link_to "Edit", edit_book_path(book.id) %></th>
      <th><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></th>
    </tr>
  <% end %>
</table>

<!--=====================================================================-->


<div class=create-header>
  New book
</div>

<!-------------------------------------------------------------------------->

<% if @book.errors.any? %>
  <div class="error-box">
    <p>
    <% if @book.errors.count == 1 %>
      <%= @book.errors.count %> error prohibited this book from being saved:
    <% else %>
      <%= @book.errors.count %> errors prohibited this book from being saved:
    <% end %>
    </p>
    <ul class="error-box-list">
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!------------------------------------------------------------------------------->
<div class="create">
  <%= form_with model: @book, url: '/books', method: :post do |f| %>

    <div class="create-title">Title</div>
    <%= f.text_field :title %>

    <div class="create-body">Body</div>
    <%= f.text_area :body %>

    <div class="create-button">
      <%= f.submit 'Create Book' %>
    </div>

  <% end %>
</div>

